anthropic==0.52.2
backports.tarfile==1.2.0
boto3==1.38.34
deptry==0.23.0
duckdb==1.3.0
importlib-metadata==8.0.0
ipykernel==6.29.5
jaraco.collections==5.1.0
openai==1.84.0
pip-chill==1.0.3
pipreqs==0.4.13
scikit-learn==1.7.0
seaborn==0.13.2
tomli==2.0.1
trino==0.334.0
